.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: 35px;
  font-size: 12px;
}

.item {
  display: inline-block;
  border: 1px solid var(--text-secondary);
  padding: 3px;
}

.btn {
  border: none;
  padding: 0;
  background-color: var(--bg-container);
  color: var(--text-secondary);
  cursor: pointer;
  transition: color 300ms ease;

  &:hover {
    color: var(--text-primary);
  }
}
