* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #e4e4e4;
  font-family: 'Montserrat', sans-serif;
  color: #777;
  font-size: 15px;
}

a {
  color: inherit;
  text-decoration: underline;
  text-underline-position: under;

  transition: 300ms color ease;

  &:hover {
    color: #222;
  }
}

p {
  color: #777;
  margin: 10px 0;
}

ul {
  list-style: none;
  padding-left: 35px;
}

li {
  margin-bottom: 6px;

  &::before {
    content: '\2022';
    font-weight: 600;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

@media (max-width: 800px), print {
  html,
  body {
    background-color: #fff;
  }
}

@media print {
  a {
    text-decoration: none;
  }
}

.ws-pre-line {
  white-space: pre-line;
}
