.main {
  display: grid;
  grid-template-columns: 320px 1fr;
  border-top: 2px solid var(--border-container);
}

.aside {
  padding-right: 50px;
  border-right: 2px solid var(--border-container);
}

.content {
  padding-left: 50px;
}

.aside,
.content {
  padding-top: 40px;
}

.skill_section {
  margin-bottom: 20px;
}

.skill_name {
  color: var(--text-primary);
  margin-bottom: 10px;
}

.skill_list {
  font-size: 12px;
}

.lang_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dotted var(--text-secondary);
  margin-bottom: 10px;
}

.lang_name {
  color: var(--text-primary);
}

.lang_level {
  font-size: 12px;
  text-align: right;
}

.empl_skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: 35px;
  font-size: 12px;
}

.empl_skill {
  display: inline-block;
  border: 1px solid var(--text-secondary);
  padding: 2px;
}

@media (max-width: 800px) {
  .main {
    grid-template-columns: 1fr;
  }
  .aside {
    padding-right: 0;
    border-right: none;
  }
  .content {
    padding-left: 0;
  }
}
