.container {
  margin-bottom: 30px;
}

.position_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.position_name {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}

.position_company {
  color: var(--text-secondary);
  text-align: right;
}

.position_period {
  color: var(--text-secondary);
  margin-bottom: 20px;
}
