.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 43px;
}

.left {
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cv_text {
  font-size: 135px;
  font-weight: 500;
  color: var(--text-tertiary);
  user-select: none;
}

.name {
  color: var(--text-primary);
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1.1;
  margin: 0 0 15px;
}

.occupation {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 550px) {
  .header {
    margin-bottom: 20px;
  }
  .name,
  .occupation {
    letter-spacing: 0;
  }
  .cv_text {
    display: none;
  }
}
