.container {
  margin: 50px auto;
  padding: 50px;
  max-width: 1080px;
  background-color: var(--bg-container);
  border: 1px solid var(--border-container);
  box-shadow: var(--shadow-container) 7px 7px 10px 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 800px), print {
  .container {
    margin: 0 auto;
    border: none;
    padding: 20px;
    box-shadow: none;
  }
}
