.bar,
.progress {
  display: block;
  height: 8px;
}

.bar {
  width: 100%;
  background-color: var(--progress-bar-bg);
}

.progress_wrapper {
  animation: progress-anim 2s ease-in-out forwards;
}

.progress {
  background-color: var(--progress-bar-fill);
}

@keyframes progress-anim {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
