.title {
  color: #222;
  position: relative;
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 10px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45px;
    height: 3px;
    background-color: #222;
  }
}